<h3>Demande d'intervention</h3>
<div class="jumbotron">
  <h4 *ngFor="let c of car"> {{c.libelleVoiture}} </h4> 
  <h5>Immatriculation: <b *ngFor="let c of car">{{c.immatriculation}}</b></h5><br/>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <form [formGroup]="requestForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>Titre</label>
          <input type="text" formControlName="libelleAnnonce" class="form-control" />
        </div>

        <div class="form-group">
          <label for="exampleFormControlSelect1">Type de panne</label>
          <select formControlName="libelleTypePanne" class="form-control">
            <option *ngFor="let i of Panne">{{i.libelleTypePanne}}</option>
          </select>
        </div>

        <div class="form-group">
            <label>Detail</label>
            <textarea formControlName="descriptifAnnonce" class="form-control" rows="5" id="comment"></textarea> 
        </div>

        <div class="form-group">
            <label>Ville</label>
            <input type="text" formControlName="ville" class="form-control" />
        </div>

        <br/>
        <div class="row">  

            <div class="col-lg-2"> 
              <div class="form-group">
                <button  class="btn btn-primary" data-toggle="modal" data-target="#okCenter">Confirmer</button>
              </div>  
            </div>

            <div class="col-lg-2">
              <div class="form-group">
                <button  class="btn btn-danger" (click)="carView()">Annuler</button>
              </div>
            </div>
            
        </div>

      </form>
    </div>

  </div>
</div>

 <!-- Modal ok -->
 <div class="modal fade" id="okCenter" tabindex="-1" role="dialog" aria-labelledby="JustificatifCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModifierCenterTitle">Demande d'intervention</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <p>Votre demande d'intervention a été bien envoyer !!</p>
        </div>
        <div class="modal-footer">
          <button type="button" (click)="carView()" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>

</div>