<section class="container">

    <div class="row well">
      <div class="col-sm-6"> <h5> Filtres</h5></div>
      <br>
      <div class="row">
        <div class="col-sm-4">
          <div class="input-group">
            <label class="col-sm-5 col-form-label">Marque: </label>
            <input type="text" class="form-control" placeholder="Marques">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
              <div class="dropdown-menu">
                <a class="dropdown-item" ></a>
                <a class="dropdown-item" >ACTION</a>
                <a class="dropdown-item" >action2</a>
              </div>
            </div>
          </div>
  
        </div>
  
  
        <div class="col-sm-4">
          <div class="input-group">
            <label  class="col-sm-3 col-form-label">Ou: </label>
            <input type="text" class="form-control" placeholder="ville, N°dpt" aria-label="Text input with dropdown button">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#"></a>
                <a class="dropdown-item" href="#">ACTION</a>
                <a class="dropdown-item" href="#">action2</a>
              </div>
            </div>
          </div>
  
        </div>
  
  
        <div class="col-sm-4">
          <div class="input-group">
            <label  class="col-sm-5 col-form-label">Modèle: </label>
            <input type="text" class="form-control" placeholder="Modèle">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#"></a>
                <a class="dropdown-item" href="#">ACTION</a>
                <a class="dropdown-item" href="#">action2</a>
              </div>
            </div>
          </div>
  
        </div>
      </div>
      <div class="col-sm-6 ">
        <p class="text-right">
          <a href="#">
            <span class="d-none d-sm-inline"> + de critères </span>
          </a>
        </p>
      </div>
      <br>
  
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary btn-sm btn-block">Rechercher</button>
        </div>
      </div>
  
    <br>
    <br>
    <div class="row well">
  
      <div class="col-sm-12">
  
  
        <div class="row">
          <div class="col-6"><h5>Peugeot 3008</h5></div>
        </div>
        <h6> 1.6 HDi 110 ch fap</h6>
        <b><p>Limoges (87000) </p></b>
        <div class="row">
          <div class="col-8"><p> peugeot 3008.....</p></div>
          <div class="col-4"> <a class="btn btn-primary btn-sm btn-block" href="#" role="button">Consulter coordonnées</a> </div>
        </div>
        <div class="row">
          <div class="col-8"><p> </p></div>
          <div class="col-4"> <a class="btn btn-success btn-sm btn-block" href="#" role="button">Voir la demande</a>  </div>
        </div>
  
      </div>
    </div>
  
    <div class="row well">
  
      <div class="col-sm-12">
  
  
        <div class="row">
          <div class="col-6"><h5>Peugeot 3008</h5></div>
        </div>
        <h6> 1.6 HDi 110 ch fap</h6>
        <b><p>Limoges (87000) </p></b>
        <div class="row">
          <div class="col-8"><p> peugeot 3008.....</p></div>
          <div class="col-4"> <a class="btn btn-primary btn-sm btn-block" href="#" role="button">Consulter coordonnées</a> </div>
        </div>
        <div class="row">
          <div class="col-8"><p> </p></div>
          <div class="col-4"> <a class="btn btn-success btn-sm btn-block" href="#" role="button">Voir la demande</a>  </div>
        </div>
  
      </div>
    </div>
  </section>