<div *ngIf="user.statut == 'Garage' ">
<h2>Annonces d'intervention</h2><br/>
<div id="filtre">
  <h4>Filtres</h4>
  <form>
    <div class="form-row">
      <div class="col">
        <label for="marque">Marque </label>
        <select #marque class="custom-select" name="marque" id="marque">
          <option selected>Indifferent</option>
          <option value="Peugeot">Peugeot</option>
          <option value="Volkswagen">Volkswagen</option>
          <option value="Citroen">Citroen</option>
          <option value="Nissan">Nissan</option>
        </select>
      </div>
      <div class="col">
        <label for="lieu">Ou</label>
        <input #lieu type="text" class="form-control" id="lieu" name="lieu"  placeholder="Ville, code postal, ...">
      </div>
      <div class="col" >
        <label for="modele">Modèle </label>
        <select #modele class="custom-select" name="modele" id="modele">
          <option selected>Indifferent</option>
          <option value="Tiguan">Golf V</option>
            <option value="Micra">Micra</option>
            <option value="207 ">207 </option>
          <option value="207 CC">207 CC</option>
            <option value="C3">C3</option>

        </select>
      </div>




    </div><br/>
  </form>
  <button type="button" class="btn btn-primary" (click)="onSearch(marque.value, modele.value, lieu.value)"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Rechercher </button>
</div><br/>
<div *ngIf="pagedItems" >
  <div class="contenu" *ngFor="let pannes of pagedItems">
    <div class="row">
  
      <div class="col-md-8 ">
        <h4>{{pannes.libelleAnnonce}} </h4>
          <b><p>{{ pannes.marqueVoiture }}  {{pannes.modeleVoiture}} {{ pannes.ville }}</p></b>
          <p><i>{{ pannes.finition }}</i></p>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-success btn-sm btn-block "  data-toggle="modal" data-target="myModal" [attr.data-target]="'#'+pannes.marqueVoiture">Voir la demande</button>
        <div class="modal fade" id={{pannes.marqueVoiture}} tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <div class="row">
                  <div class="col-md-12 ">
                    <h5 class="modal-title" id="exampleModalLongTitle">{{pannes.libelleAnnonce}}</h5>
                  </div>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p> {{pannes.descriptifAnnonce}}</p>
                <p> {{pannes.datePublication}}</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Prendre en charge</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </div>
</div>
<ul *ngIf="pager.pages && pager.pages.length" class="pagination">
  <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
      <a (click)="setPage(1)" class="page-link">First</a>
  </li>
  <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
      <a (click)="setPage(pager.currentPage - 1)" class="page-link">Previous</a>
  </li>
  <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="page-item">
      <a (click)="setPage(page)" class="page-link">{{page}}</a>
  </li>
  <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
      <a (click)="setPage(pager.currentPage + 1)" class="page-link">Next</a>
  </li>
  <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
      <a (click)="setPage(pager.totalPages)" class="page-link">Last</a>
  </li>
</ul>
</div>
<div *ngIf="!pagedItems && user.statut == 'Garage'" class='load'>
  <mat-spinner [diameter]="48" ></mat-spinner>
</div>
<div *ngIf="user.statut != 'Garage'">
  <h2> Vous n'etes pas autorisé à acceder à cette page </h2>
</div>
