<h3>Entretiens</h3>
<h5>Libelle Voiture 1 - Toyota Yaris (AA-XXX-BB)</h5>
<div class="container">
<div class="row">
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#AjouterModalCenter"><i class="fas fa-plus-square"></i> Ajouter entretien</button> 

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Interventions</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody *ngFor="let int of interventions">
    <tr>
      <th scope="row">{{ int.id }}</th>
      <td>{{ int.nom }}</td>
      <td width="400">
        <a class="btn btn-secondary"><i class="fas fa-eye"></i> Justificatif</a>&nbsp;
        <a class="btn btn-primary" data-toggle="modal" data-target="#ModifierCenter"><i class="fas fa-pencil-alt"></i> Modifier</a>&nbsp;
        <a class="btn btn-danger" data-toggle="modal" data-target="#SupprimerCenter"><i class="fas fa-trash-alt"></i> Supprimer</a>
      </td>
    </tr>
  </tbody>
</table>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Ancien propriétaire</th>
    </tr>
  </thead>
  <tbody *ngFor="let int of AncienInterventions">
    <tr>
      <th scope="row">{{ int.id }}</th>
      <td>{{ int.nom }}</td>
      <td width="300">
        <a class="btn btn-secondary" data-toggle="modal" data-target="#ModifierCenter"><i class="fas fa-eye"></i> Justificatif</a>&nbsp;
        <a class="btn btn-danger" data-toggle="modal" data-target="#SupprimerCenter"><i class="fas fa-trash-alt"></i> Supprimer</a></td>
    </tr> 
  </tbody>
</table>




<!-- Modal ajouter-->
<div class="modal fade" id="AjouterModalCenter" tabindex="-1" role="dialog" aria-labelledby="AjouterModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="AjouterModalCenterTitle">Interventions</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="name" class="col-form-label">Nom:</label>
            <input type="text" class="form-control" id="name">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Détail:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Justificatif:</label>&nbsp;&nbsp;
            <button type="button" class="btn btn-secondary"><i class="fas fa-download"></i> Télécharger</button> 
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-primary">Enregistrer</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal modifier -->
<div class="modal fade" id="ModifierCenter" tabindex="-1" role="dialog" aria-labelledby="ModifierCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModifierCenterTitle">Interventions</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="name" class="col-form-label">Nom:</label>
            <input type="text" class="form-control" id="name">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Détail:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Justificatif:</label>&nbsp;&nbsp;
            <button type="button" class="btn btn-secondary"><i class="fas fa-download"></i> Télécharger</button> 
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-primary">Enregistrer</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal supprimer -->
<div class="modal fade" id="SupprimerCenter" tabindex="-1" role="dialog" aria-labelledby="SupprimerCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="SupprimerCenterTitle">Interventions</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Êtes vous sûr de vouloir supprimer ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-success">Confirmer</button>
      </div>
    </div>
  </div>
</div>


</div>
</div>


