<h3>Entretiens</h3>
  <h5 *ngFor="let c of car">{{c.libelleVoiture}} - {{c.marqueVoiture}} ({{c.immatriculation}})</h5>
  <div class="container">
  <div class="row">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#AjouterModalCenter"><i class="fas fa-plus-square"></i> Ajouter panne</button>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Libelle panne</th>
        <th scope="col">Interventions</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody *ngFor="let p of panne">
      <tr>
        <th scope="row"></th>
        <td>{{p.libellePanne}}</td>
        <td width="200">
          <a class="btn btn-primary" data-toggle="modal" data-target="#AjoutCenter" [hidden]="disabled"><i class="fas fa-plus-square"></i> Ajouter</a>&nbsp;
          <a class="btn btn-secondary" data-toggle="modal" data-target="#JustificatifCenter" [hidden]="disabled"><i class="fas fa-eye"></i> Voir</a>
        </td>
        <td width="400">
          <a class="btn btn-secondary" data-toggle="modal" data-target="#JustificatifCenter"><i class="fas fa-eye"></i> Justificatif</a>&nbsp;
          <a class="btn btn-primary" data-toggle="modal" data-target="#ModifierCenter"><i class="fas fa-pencil-alt"></i> Modifier</a>&nbsp;
          <a class="btn btn-danger" data-toggle="modal" data-target="#SupprimerCenter"><i class="fas fa-trash-alt"></i> Supprimer</a>
        </td>
      </tr>
    </tbody>
  </table>


  <!-- Modal ajouter Panne-->
  <div class="modal fade" id="AjouterModalCenter" tabindex="-1" role="dialog" aria-labelledby="AjouterModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="AjouterModalCenterTitle">Panne</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="panneForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="name" class="col-form-label">Nom de la panne:</label>
              <input type="text" formControlName="libellePanne" class="form-control">
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Type de panne</label>
                <select formControlName="typePanne" class="form-control">
                  <option *ngFor="let i of typePan">{{i.libelleTypePanne}}</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="onSubmit()" data-dismiss="modal">Enregistrer</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal ajouter intervention-->
 <!-- <div class="modal fade" id="AjoutCenter" tabindex="-1" role="dialog" aria-labelledby="AjouterModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="AjouterModalCenterTitle">Intervention</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form [formGroup]="interventionForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="name" class="col-form-label">Libelle Intervention</label>
                <input type="text" formControlName="libellePanne" class="form-control">
              </div>
              <div class="form-group">
                <input type="file" formControlName="photo" name="photo" id="photo" class="btn-outline-info form-control" value="photo" ng2FileSelect [uploader]="uploaderphoto"/>
                  <br>
                <button type="button" class="btn btn-primary btn-s"
                        (click)="uploaderphoto.uploadAll()"
                        [disabled]="!uploaderphoto.getNotUploadedItems().length" >
                  Télécharger le Justificatif
                </button>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-primary" (click)="onSubmit()" data-dismiss="modal">Enregistrer</button>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>-->
  
  </div>
  </div> 