<br/>
<div class="jumbotron">
    <h2>Ajouter un véhicule</h2>
    <br/>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                  <div class="row">
                        <div class="col-lg-2">
                          <form [formGroup]="matriculeform" (ngSubmit)=" OnSearchbymatricule()" [ngClass]="{ 'is-invalid': submitted && m.matricule.errors}">   
                                <div class="form-group">
                                  <label>Immatriculation</label>
                                  <input placeholder="xx-yyy-zz" type="text" class="form-control" formControlName="matricule" [ngClass]="{ 'is-invalid': submitted && m.matricule.errors  }"/>
                                </div>
                                <div class="form-group">
                                    <button [disabled]="m.matricule.errors" class="btn btn-primary" data-toggle="modal" data-target="#ModalMatricule">Rechercher</button>
                                </div>
                            </form>

                        </div>

                         <div class="col-lg-4">  
                                <label>Justificatif</label>
                                <br/>
                                <input type="file" name="photo" ng2FileSelect [uploader]="uploader" />
                                <br/> <br/>
                              <button type="button" class="btn btn-primary btn-s" 
                                (click)="uploader.uploadAll()" 
                                [disabled]="!uploader.getNotUploadedItems().length"
                                data-toggle="modal" data-target="#Modalsucessjust"
                                >
                                    Telecharger le justificatif
                              </button>
                        </div>

                        <div class="col-lg-4">  
                            <label>Photo</label>
                            <br/>
                            <input type="file" name="photo" ng2FileSelect [uploader]="uploaderphoto" />
                            <br/> <br/>
                          <button type="button" class="btn btn-primary btn-s" 
                            (click)="uploaderphoto.uploadAll()" 
                            [disabled]="!uploaderphoto.getNotUploadedItems().length"
                            data-toggle="modal" data-target="#Modalsucessphoto"
                            >
                                Telecharger la photo du véhicule
                          </button>
                    </div>
                    </div>
                </div>
                <br/> <br/> <br/> 
                <table class="table">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">Caractéristique</th>
                            <th scope="col">Valeur</th>
                          </tr>
                        </thead>
                        <tbody >
                            <tr>
                                <th scope="row">marque</th>
                                <td>{{voiture.marqueVoiture}}</td>
                              </tr>
                          <tr>
                            <th scope="row">modèle</th>
                            <td>{{voiture.modeleVoiture}}</td>
                          </tr>
                          <tr>
                              <th scope="row">annee</th>
                              <td>{{voiture.anneeCirculation}}</td>
                            </tr>
                           <tr>
                                <th scope="row">Energie</th>
                                <td>{{voiture.carburant}}</td>
                            </tr>
                             <tr>
                                    <th scope="row">Boite de vitesse</th>
                                    <td>{{voiture.boiteVitesse}}</td>
                            </tr>
                            <tr>       
                                    <th scope="row">Moteur</th>
                                    <td>{{voiture.moteur_type}}</td>
                            </tr> 
                            <tr>    
                                    <th scope="row">Transmission</th>
                                    <td >{{voiture.transmission_type}}</td>
                            </tr>  
                        </tbody>
                 </table>
                 <br/> 
                 <br/>
                 <br/>
                 <form [formGroup]="libelleform" (ngSubmit)=" Onregister()" [ngClass]="{ 'is-invalid': submittedm && m.matricule.errors}"> 
                        <div class="form-group">
                          <label>Libellé</label>
                          <input placeholder="Voiture de Joel" type="text" class="form-control" formControlName="libelle" />
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-success btn-s" type="submit" data-toggle="modal" data-target="#Modalsucess" >Enregistrer</button>
                        </div>
                 </form>


         </div>
    </div>
</div>

<!-- Modal matricule -->
<div class="modal fade" id="ModalMatricule" tabindex="-1" role="dialog" aria-labelledby="ModalMatriculeTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="ModifierCenterTitle">{{modele}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <mat-dialog-content class="mat-typography">
                    <h3>Seletioner la finition</h3>
                          <mat-radio-group [(ngModel)] = "fini" class = "tp-radio-button">
                          <mat-radio-button *ngFor="let f of finition"
                          [value]="f" class = "tp-radio-button">
                           {{f}}</mat-radio-button>
                        </mat-radio-group >
                  </mat-dialog-content>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
              <button type="button" class="btn btn-primary" (click)="Onsavematricule()" data-dismiss="modal">Enregistrer</button>
            </div>
          </div>
        </div>
      </div> 


      <div class="modal fade" id="Modalsucessjust" tabindex="-1" role="dialog" aria-labelledby="ModalMatriculeTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="ModifierCenterTitle">Info</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <mat-dialog-content class="mat-typography">
                      <h3>justificatif téléchargé</h3>
                    </mat-dialog-content>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="Modalsucessphoto" tabindex="-1" role="dialog" aria-labelledby="ModalMatriculeTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="ModifierCenterTitle">Info</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <mat-dialog-content class="mat-typography">
                        <h3>photo téléchargé</h3>
                      </mat-dialog-content>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
              </div>
            </div>
          </div>


          <div class="modal fade" id="Modalsucess" tabindex="-1" role="dialog" aria-labelledby="ModalMatriculeTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="ModifierCenterTitle">{{modele}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                      <mat-dialog-content class="mat-typography">
                          <h3>véhicule enregistré avec succès!</h3>
                        </mat-dialog-content>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"  (click)="Onredirect()" >Fermer</button>
                  </div>
                </div>
              </div>
            </div>