<br/>
<h3>Consulter vos véhciules </h3>
<div class="row">
  <div class="col-lg-12">
      <mat-list>
          <mat-list-item *ngFor="let vehicule of vehicules" id="item" routerLink="/vehicule/{{vehicule.immatriculation}}">
            <img matListAvatar src="{{vehicule.photo}}" alt="...">
            <h3 matLine> {{vehicule.libelleVoiture}} - - {{vehicule.marqueVoiture }} {{vehicule.modeleVoiture}} ( {{vehicule.immatriculation}} )  </h3>
            <button type="button" class="btn btn-danger" (click)="deleteCar(vehicule)"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Supprimer </button>
          </mat-list-item>
        </mat-list>
  </div>
</div>
<button type="button" class="btn btn-primary" (click)="addCar()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Ajouter </button>

